{{extend './_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'body'}}
<section class="container">
  {{include './_partials/settings-nav.html'}}
  <div class="col-md-5">
    <form id="set">
      <div class="form-group">
        <label for="">账号</label>
<!--        <p class="form-control-static">email.email</p>-->
          <input type="text" value=" {{ user.email }} " name="email" border="none">
      </div>
      <div class="form-group">
        <label for="nickname">昵称</label>
        <input type="text" name="nickname" class="form-control" id="nickname" placeholder="">
      </div>
      <div class="form-group">
        <label for="bio">介绍</label>
        <textarea class="form-control" id="bio" name="bio" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="inlineRadio3">性别</label>
        <div>
          <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio1" value="1"> 男
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio2" value="0"> 女
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio3" value="-1"> 保密
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="birthday">生日</label>
        <input type="date" class="form-control" name="birthday" id="birthday" placeholder="">
      </div>
      <button type="submit" class="btn btn-success">保存</button>
    </form>
  </div>
  <div class="col-md-2 profile-avatar">
    <dl>
      <dt>头像设置</dt>
      <dd>
        <img class="avatar" width="150" height="150" src="/public/img/avatar-default.png" alt="">
        <div>
          <button class="btn btn-default" href="">Upload new picture</button>
        </div>
      </dd>
    </dl>
  </div>
</section><script src="/node_modules/jquery/dist/jquery.js"></script>
<script>
  $('#set').on('submit', function (e) {
    //阻止默认行为
    e.preventDefault()
    var formData = $(this).serialize()
    $.ajax({
      url: '/profile',
      type: 'post',
      data: formData,
      dataType: 'json',
      success: function (data) {
        var err_code = data.err_code
        if (err_code === 0) {
          window.alert('信息保存成功')
          // 服务端重定向针对异步请求无效
          // window.location.href = '/profile'
        }  else if (err_code === 2) {
          window.alert('昵称已存在！')
        } else if (err_code === 500) {
          window.alert('服务器忙，请稍后重试！')
        }
      }
    })
  })
</script>
{{/block}}
