{{extend './_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'body'}}
<section class="container">
    <div class="col-md-5 publish-in">
        <hr>
        <form id="publish">
            <div class="form-group">
                <label for="">账号</label>
                <input type="text" value=" {{ user.email }} " name="author" style="border: none">
            </div>
            <div class="form-group">
                <label for="title">标题</label>
                <input type="text" class="form-control" name="title" id="title" style="width: 300px" autofocus="autofocus">
            </div>
            <div class="form-group">
                <textarea style="height: 300px;width: 500px;resize: none;" name="article" class="form-control">
                        这里是一些测试内容
                </textarea>
            </div>
            <button type="submit" class="btn btn-success">发布</button>
        </form>
        <hr>
    </div>
</section>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script>
  $('#publish').on('submit', function (e) {
    //阻止默认行为
    e.preventDefault();
    let formData = $(this).serialize();
    $.ajax({
      url: '/publish',
      type: 'post',
      data: formData,
      dataType: 'json',
      success: function (data) {
        let err_code = data.err_code;
        if (err_code === 0) {
          window.alert('发布成功,即将跳转');
          window.location.href = '/'
        } else if (err_code === 500) {
          window.alert('服务器繁忙,请重新发布');
        }
      }
    })
  })
</script>
{{/block}}
